* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "M PLUS 1", sans-serif;
  color: #494f50;
  font-size: 16px;
  padding: 50px 15px;
  background: #f5f7f8;
  --bg-login: #fff;
  --bg-input: #f5f7f880;
  --border: #dfdfdf;
}


body.darkmode {
  color: #f5f7f8;
  background: #282929;
  --bg-login: #1d1f1f;
  --bg-input: #282929;
  --border: #080808;
}

button {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
}

input {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
}

input::placeholder {
  color: #aaaaaa;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.login {
  max-width: 430px;
  background: var(--bg-login);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.btns-login {
  display: flex;
}

.btns-login>* {
  flex: 1;
  padding: 15px;
  transition: all 0.2s ease;
}

.btns-login button {
  background: var(--bg-input);
}

.btns-login button:hover,
button.ativo,
.btns-login button.ativo:hover {
  background: var(--bg-login);
}

.container {
  padding: 30px;
}

.form-entrar,
.form-criar-conta {
  display: none;
}

form.ativo {
  display: block;
}

.ct-input {
  width: 100%;
  position: relative;
}

.ct-input label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.ct-input+.ct-input {
  margin-top: 40px;
}

.ct-input input {
  width: 100%;
  display: block;
  background: var(--bg-input);
  border-radius: 4px;
  padding: 15px 10px;
  border: 1px solid var(--border);
}

.ct-input i {
  position: absolute;
  top: 45px;
  right: 10px;
  display: none;
}

.ct-input.invalido i.fa-times-circle {
  color: #ec3030;
  display: block;
}

.ct-input.invalido input {
  border: 2px solid #ec3030;
}

.ct-input.valido i.fa-check-circle {
  color: rgb(77, 212, 72);
  display: block;
}

.termos-field {
  margin-top: 20px;
}

input:focus {
  outline: 2px solid #0c813f;
}

.submit {
  width: 100%;
  padding: 15px 10px;
  background: #0c813f;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.submit:hover {
  background: #259758;
}

.darkmode .forgot {
  color: #237d91
}

.forgot {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #0d6579;
}

.lembrar-label {
  margin-top: 20px;
  display: block;
}

.alert {
  font-size: 0.875rem;
  display: none;
  margin-top: 5px;
}

.lightdarkmode {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  background: transparent;
  color: #21a15b
}

footer {
  text-align: center;
  margin-top: 30px;
}