* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7f8;
  margin: 0;
  font-family: "M PLUS 1", sans-serif;
  color: #6e7779;
  font-size: 16px;
  padding: 50px 15px;
}

body.darkmode {
  background: #282929;
}

button {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
}

input {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
}

input::placeholder {
  color: #aaaaaa;
}

.login {
  max-width: 430px;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.btns-login {
  display: flex;
}
.btns-login > * {
  flex: 1;
  padding: 15px;
  transition: all 0.2s ease;
}

.btns-login button:hover {
  background: rgb(230, 230, 230);
}

button.ativo {
  background: white;
}
.btns-login button.ativo:hover {
  background: white;
}

.container {
  padding: 30px;
}

.form-entrar {
  display: none;
}

.form-criar-conta {
  display: none;
}

form.ativo {
  display: block;
}

.ct-input {
  width: 100%;
  position: relative;
}

.ct-input label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.ct-input + .ct-input {
  margin-top: 40px;
}

.ct-input input {
  width: 100%;
  display: block;
  background: rgba(245, 247, 248, 0.5);
  border-radius: 4px;
  padding: 15px 10px;
  border: 1px solid rgba(229, 229, 229, 0.5);
}

.ct-input i {
  position: absolute;
  top: 45px;
  right: 10px;
  display: none;
}

.ct-input.invalido i.fa-times-circle {
  color: #ec3030;
  display: block;
}

.ct-input.invalido input {
  border: 2px solid #ec3030;
}

.ct-input.valido i.fa-check-circle {
  color: rgb(77, 212, 72);
  display: block;
}

.termos-field {
  margin-top: 20px;
}

input:focus {
  outline: 2px solid #21a15b;
}

.submit {
  width: 100%;
  padding: 15px 10px;
  background: #21a15b;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.submit:hover {
  background: #199450;
}

.forgot {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #188299;
}

.lembrar-label {
  margin-top: 20px;
  display: block;
}

.alert {
  font-size: 0.875rem;
  display: none;
}

input:disabled {
  background: #d3d3d3;
}
